%table.table.table-striped
  %thead
    %tr
      %th Arrival Date
      %th Name
      %th Room
      %th Nights
  %tbody
    - @reservations.each do |reservation|
      %tr
        %td= reservation.arrival_date
        %td= reservation.guest_name
        %td= reservation.allocation.room_num if reservation.allocation.room.present?
        %td= reservation.nights
